# SVM classifier 
Support Vector Machines also called as SVM are one of the strongest Machine learning algorithm used for various purposes.

In [1]:
# We will be using a data set in which are aim to classify the label as male or female
# For more assistance you can checkout this page https://www.kaggle.com/nirajvermafcb/support-vector-machine-detail-analysis

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
# Visualizing th data
data = pd.read_csv("C:/Users/karti/Downloads/voice/voice.csv")
data.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [4]:
# Checking for null values
data.isnull().any()

meanfreq    False
sd          False
median      False
Q25         False
Q75         False
IQR         False
skew        False
kurt        False
sp.ent      False
sfm         False
mode        False
centroid    False
meanfun     False
minfun      False
maxfun      False
meandom     False
mindom      False
maxdom      False
dfrange     False
modindx     False
label       False
dtype: bool

In [5]:
# shuffling the dataset
import random
shuffle_dataset = []
for num in range(3168):
    shuffle_dataset.append(num)
random.shuffle(shuffle_dataset)

In [6]:
data = data.reindex(index = shuffle_dataset)

In [7]:
## Converting the data into 0 or 1, Just like one hot vectorizing the columns.

#data_label = data["label"]
data_label = pd.get_dummies(data.label)
data_label

      female  male
825        0     1
2777       1     0
1513       0     1
1583       0     1
2254       1     0
...      ...   ...
367        0     1
215        0     1
2830       1     0
72         0     1
2161       1     0

[3168 rows x 2 columns]

In [8]:
data_label= data_label.drop(['male'], axis = 'columns')
data_label.rename(columns = {'female' : 'Gender'}, inplace = True)
data_label

      Gender
825        0
2777       1
1513       0
1583       0
2254       1
...      ...
367        0
215        0
2830       1
72         0
2161       1

[3168 rows x 1 columns]

In [9]:
## Merging the dataset and again viewing it.

#data = data.drop(axis=1, columns = 'label', inplace = True)
#dataset=data.iloc[:, :-1]
dataset = data.drop(['label'], axis = 'columns')
dataset.rename(columns = {'sp.ent' : 'spent'}, inplace = True)

In [10]:
dataset

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,spent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
825,0.183981,0.056717,0.198841,0.141578,0.219130,0.077552,2.013467,7.925331,0.911970,0.391708,0.208760,0.183981,0.122804,0.047761,0.269663,1.341518,0.023438,5.414062,5.390625,0.164302
2777,0.193523,0.038389,0.200042,0.165188,0.218787,0.053598,1.752535,5.537598,0.880368,0.273791,0.153180,0.193523,0.153425,0.047384,0.277457,1.484003,0.023438,9.164062,9.140625,0.098718
1513,0.141566,0.076678,0.126486,0.100935,0.207994,0.107059,3.578447,23.852829,0.943157,0.657765,0.000000,0.141566,0.120040,0.028219,0.246154,0.093750,0.007812,0.414062,0.406250,0.151709
1583,0.158781,0.059852,0.147013,0.107879,0.216797,0.108918,3.648593,20.799925,0.898225,0.401169,0.110649,0.158781,0.115299,0.079365,0.250000,0.460938,0.087891,0.786133,0.698242,0.552115
2254,0.114828,0.084428,0.088618,0.044042,0.179905,0.135863,1.021112,3.811971,0.969638,0.774734,0.022421,0.114828,0.191768,0.160000,0.275862,0.556526,0.023438,5.101562,5.078125,0.155865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,0.126735,0.083493,0.112816,0.055275,0.211737,0.156462,2.368228,9.968827,0.958015,0.722671,0.009213,0.126735,0.116696,0.016667,0.271186,0.640869,0.007812,6.476562,6.468750,0.165417
215,0.173168,0.068850,0.192800,0.119733,0.230133,0.110400,1.191048,3.819471,0.944715,0.598206,0.208267,0.173168,0.109008,0.016512,0.161616,0.246324,0.023438,0.476562,0.453125,0.341595
2830,0.233098,0.036174,0.238131,0.225421,0.249720,0.024299,3.166333,14.537412,0.804146,0.179052,0.240748,0.233098,0.199505,0.047291,0.279070,1.233173,0.234375,7.875000,7.640625,0.092025
72,0.167083,0.064426,0.181705,0.107563,0.220742,0.113180,1.870944,8.381557,0.934858,0.520926,0.092257,0.167083,0.102626,0.020833,0.250000,0.637835,0.218750,5.203125,4.984375,0.021944
2161,0.186823,0.035518,0.188381,0.174591,0.204741,0.030150,2.467077,8.935370,0.850902,0.263912,0.176227,0.186823,0.177238,0.034409,0.246154,0.685614,0.007812,6.781250,6.773438,0.159896

In [13]:
Y = np.array(data_label['Gender'])
Y

array([0, 1, 0, ..., 1, 0, 1], dtype=uint8)

In [14]:
# Standardisation of the code. It means mean will be zero (0) and standard deviation of one (1). 

sc = StandardScaler()
X = sc.fit_transform(dataset)
X

array([[ 0.10277776, -0.0245762 ,  0.36363963, ...,  0.10418272,
         0.11251518, -0.07911755],
       [ 0.42177995, -1.12534102,  0.3966827 , ...,  1.16934181,
         1.17801242, -0.62823479],
       [-1.31517446,  1.17429399, -1.62662549, ..., -1.31602941,
        -1.30370825, -0.18455232],
       ...,
       [ 1.7447606 , -1.25838182,  1.44439612, ...,  0.80319337,
         0.75181353, -0.68427681],
       [-0.46212359,  0.43843096, -0.10770527, ...,  0.04426752,
        -0.00291369, -1.27104494],
       [ 0.19779968, -1.29781358,  0.07591811, ...,  0.49252197,
         0.50541729, -0.11601019]])

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [58]:
#Import svm model
from sklearn import svm
from sklearn import metrics

#Create a svm Classifier
model = svm.SVC(C= 1, kernel='rbf', gamma = 0.05)

#Train the model using the training sets
model.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)

print('Accuracy Score:')
print(metrics.accuracy_score(y_test,y_pred))

Accuracy Score:
0.9842271293375394

In [59]:
# Precision and recall value can be found by the following code --------->

print("Precision:",metrics.precision_score(y_test, y_pred))

print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 0.9838709677419355
Recall: 0.9838709677419355

In [60]:
F1 = (2* metrics.precision_score(y_test, y_pred) * metrics.recall_score(y_test, y_pred)) / (metrics.precision_score(y_test, y_pred) + metrics.recall_score(y_test, y_pred))
print("F1 score is :", F1)

F1 score is : 0.9838709677419355